.breadcrumb a {
  color: #8d8d8d;
  text-decoration: none;
}
.terms-and-condition-content {
  margin: 0 auto;
  padding: 1rem 0;
}
.terms-and-condition-content ul {
	font-size: 16px;
}
@media (max-width: 768px) {
  .terms-and-condition-content {
    padding: 0 ;
  }
  .terms-and-condition-content ul {
	font-size: 14px ;
  }
}
