body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  --bs-gutter-x: 0 !important;
}

.a_header_container {
  padding: 0px 12% !important;
}

.a_image_container {
  background-color: #f3f8fb;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 180px;
}
.a_image_container:hover .a_image_slider {
  transform: translateX(-50%);
}
.a_countdown_container {
  border: 1px solid var(--blacktext);
  /* padding: 2px 10px; */
  padding: 2px 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 991px) {
  .a_header_container {
    padding: 0px 8% !important;
  }
}
@media (max-width: 768px) {
  .a_header_container {
    padding: 0px 0% !important;
  }
}
